<h1>Currency Converter Application</h1>
  <div class="main-container">
    <div class="selection-cont">
      <label for="country">Select Country </label>
    <select #c1 name="country" id="country1" (mouseleave)="changecountry1(c1.value)">
      <option value="INR">Indian rupee</option>
      <option value="USD">US Doller</option>
      <option value="EUR">Euro</option>
    </select>  
    to
    <select #c2 name="country" id="country2" (mouseleave)="changecountry2(c2.value)">
      <option value="INR">Indian rupee</option>
      <option value="USD">US Doller</option>
      <option value="EUR">Euro</option>
    </select>
    </div>
  <button (click)="convert()">submit</button>
  <div class="result-container">
    <p>1 {{country1}}</p>
    <p>=</p>
    <p>{{result}} {{country2}}</p>
  </div>
  </div>
